
sim/*.log
sim/*.err
sim/INCA*/*
sim/*.key
sim/*.vcd
sim/*.history
sim/*.dsn
sim/*.trn
sim/*.shm/*
sim/.simvision/*
sim/*.diag
sim/test*
sim/cov_work
sim/ast
sim/log
sim/script/*.log
.simvision/*
*.diag
